body{
    background: #C6ECED;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header{
    padding: 27px 0 0 ;
}

.caixa-cabecalho{
    width: 1080px;
    margin: 0 auto;
}

.logo{
    text-align: center;
}

.img-logo{
    width: 186.39px;
    height: 66.87px;
}

.form-busca{
    padding: 21.13px 0 0 98px;
}

.conteudo-form-busca{
    width: 1080px;
    margin: 0 auto;
}

.input-busca{
    display: inline-block;
    width: 70%;
    padding: 14px 22px 15px 22px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    color: #AFAFAF;
    font-size: 14px;
    line-height: 16px;
}

.buscar{
    background: #3763AD;
    width: 10%;
    padding: 14px 0;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    color: #FFCB05;
    font-size: 18px;
    font-weight: bold;
}

.pokemon{
    padding: 40px 0 0 98px;
}

.card-pokemon{
    width: 1080px;
    margin: 0 auto;
}

.card-pokemon li{
    padding: 22px 15px;
    display: inline-block;
    width: 181px;
    height: 253px;
    text-align: center;
    margin: 0 4.5% 0 0.5%;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 25px;
}

.card-grama{
    background: #48D0B0;
}

.card-fogo{
    background: #F66C6D;
}

h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
}

h3{
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.42);
}

.elipse{
    margin-top: 16px;
    width: 151px;
    height: 151px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.img-pokemon{
    padding: 15px;
    width: 122px;
    height: 122px;
}